.dropdown {
    position: fixed;
    top: 58px;
    right: 0;
    width: 160px;
    display: flex;
    flex-direction: column;
    /* height: 100px; */
    background-color: #99bfe4;
    border: 1px solid #003B6D;
    border-radius: 8px;
    padding: 20px;

    z-index: 1;
    /* transition: height var(--speed) ease; */
}