.mainWindow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 955px;
    height: calc(100vh - 200px);
    background-color: aqua;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;

}

@media (max-width: 1400px) {
    .mainWindow {
        width: 650px
    }
}

@media (max-width: 1100px) {
    .mainWindow {
        width: 350px
    }
}

@media (max-width: 800px) {
    .mainWindow {
        height: 600px;
    }
}