.main {
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    margin: 0;
    flex-grow: 1;
    color: #003B6D;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 4px;
}

.main:hover {
    background-color: #7e93b03d;
    cursor: pointer;
}