.mainWindow {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    background-color: #d4cccc;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0;
}

.mainWindowRow {
    margin-top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    padding-top: 0;
    height: 10%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.smartParalax {
    color: #003B6D;
    text-shadow: -1px -1px 0 #d4cccc, 1px -1px 0 #d4cccc, -1px 1px 0 #d4cccc, 1px 1px 0 #d4cccc;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 150px;
    text-align: right;
    width: 55%;
    margin-top: 0;
}

.wayToParallax {
    font-family: 'Cedarville Cursive', cursive;
    text-shadow: -2px -2px 0 #6699CC, 2px -2px 0 #6699CC, -2px 2px 0 #6699CC, 2px 2px 0 #6699CC;
    color: #d4cccc;
    font-size: 100px;
    margin: 0;
    margin-top: 2%;
    text-align: left;
    width: 40%;
}

.autoYourParallax {
    text-align: right;
    width: 55%;
    font-family: 'Cedarville Cursive', cursive;
    text-shadow: -2px -2px 0 #6699CC, 2px -2px 0 #6699CC, -2px 2px 0 #6699CC, 2px 2px 0 #6699CC;
    color: #d4cccc;
    font-size: 100px;
}

.autoYourText {
    font-family: 'Cedarville Cursive', cursive;
    text-shadow: -2px -2px 0 #6699CC, 2px -2px 0 #6699CC, -2px 2px 0 #6699CC, 2px 2px 0 #6699CC;
    color: #d4cccc;
    font-size: 100px;
}

.homeParallax {
    margin-top: 0;

    width: 45%;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 0 #003B6D, 1px -1px 0 #003B6D, -1px 1px 0 #003B6D, 1px 1px 0 #003B6D;
    font-weight: bold;
    font-size: 150px;
    letter-spacing: 4px;
}

.homeText {
    text-align: left;
    color: white;
    text-shadow: -1px -1px 0 #003B6D, 1px -1px 0 #003B6D, -1px 1px 0 #003B6D, 1px 1px 0 #003B6D;
    font-weight: bold;
    font-size: 150px;
    letter-spacing: 4px;
}

.flashyWordsContainer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
}

.flashyWordsContainerColumn {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;

}

.flasyWord {
    font-size: 50px;
    text-align: center;
    text-shadow: -1px -1px 0 #6699CC, 1px -1px 0 #6699CC, -1px 1px 0 #6699CC, 1px 1px 0 #6699CC;
    color: #d4cccc;
}