.mainBody {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.mainBody h1 {
    text-align: center;
    color: #0063ba;
}

.mainBody p {
    text-align: center;
    color: #7E93B0;
    font-size: larger;
}

.mainBody button {
    margin-bottom: 100px;
    width: 10rem;
    height: 2rem;
    background-color: #0063ba46;
    border-radius: 5px;
    color: blue;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.mainBody button:hover {
    background-color: #0063ba;
    color: #7E93B0;
}

.dataDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: center;
    align-content: center;
}

.dataDivChild {
    width: 50%;
    height: 2rem;
    color: #7E93B0;
    font-size: larger;
    font-weight: bolder;
}

.dataDiv label {
    width: 50%;
    color: #0063ba;
    font-size: larger;
    font-weight: bolder;
}