html,
body,
#app,
#app>div {
  height: 100%;
}

.back {
  background-color: #d4cccc;

  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.h {
  color: white;
  position: absolute;
  top: 20%
}