.backgroundLayerTriangle {
    padding: 0;
    margin-bottom: 0;
    background: #003B6D;
    color: #003B6D;
    clip-path: polygon(0% 20%, 0% 10%, 100% 100%, 0% 100%);
    box-shadow: -1px -1px 0 #003B6D, 1px -1px 0 #003B6D, -1px 1px 0 #003B6D, 1px 1px 0 #003B6D;
    padding: 10rem 20%;
}

.backgroundLayerRect {
    box-shadow: -1px -1px 0 #003B6D, 1px -1px 0 #003B6D, -1px 1px 0 #003B6D, 1px 1px 0 #003B6D;
    padding: 0;
    height: 500px;
    width: 100vw;
    background-color: #003B6D;
}